.App {
  text-align: center;
}

.App-header {
  background-color: #fbfbfb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.canvas {
  height: 10000px;
  width: 1000px;
}

h1{
  color: #DCC48E;
}
h2{
  color: #DCC48E;
}

p{
  color: #B3C0A4;
  font-size: 18px;
}
body {
  background-color: #505168;
}

.row {
  height:100vh;
  display: flex; 
  justify-content: center;
  flex-direction: row;
  background-color:#27233A ;
}

.row #left {
   /** Just to emphasize vertical split visually. You can remove this */
   position: relative;
   width: 50%;
   height: 100%;
   justify-content: center;

   transform: translate(0%, -10%);
}


.row #right {
    /** Just to emphasize vertical split visually. You can remove this */
   flex: 1;
   height:50%;
   top: 50%;
    
  left: 50%;
  
  max-width: 800px;
  transform: translate(-10%, 50%);

  margin: 0;
}

.projects {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vh;
  justify-content: center;
  padding-top: 10px;
  --control-button-background: transparent;


}
.styles {

  --slider-height-percentage: 60%;
  --slider-transition-duration: 575ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #6a6a6a;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #6a6a6a;
  --control-bullet-active-color: #6a6a6a;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
  }
